@mainColor: #F4C3F0;
@secondaryColor: #DCC4F5;
@thirdColor: #C4F5D4;
@backgroundColor: #FFF4FA;
@textDarkColor: #A06B9B;


h1 { 
  text-align: center;
}

.pageContent {
    padding: 10px;
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    border: solid 10px @textDarkColor;
    background-color:@secondaryColor ;
}

.pageContent h3 { 
    border: dotted 5px @backgroundColor;
    width: 75%;
    margin-left: 15%;
}

  img { 
    height: 50%; 
    width: 50%;
  }

  .footer {
    background-color: @mainColor;
    color: @textDarkColor;
    font-size:x-large; 
    text-align: center;
    position:static;
    bottom: 0;
    width: 100%;
    margin: 0;
    margin-bottom: 100px;
    left: 0;
    height: 70px;
    padding-top: 30px;
  
  }
